body {
    background-image: url('../bookcase.png');
    background-position: fixed;
    background-repeat: repeat;
    background-size: cover;
}
header {
    text-align: right;
    margin-right: 5%;
    margin-top: 5%;
    color: white;
    font-size: xx-large;
}

nav a {
    color: white;
}


main {
    text-align: left;
    margin-left: 5%;
    color: white;
}


.row {
    flex: 1;
    flex-direction: row;
}

.indexHeader {
    text-align: center;
}


img {
    max-width: 200px;
}

.container {
    width: 200px;
    padding: 2%;
    display: inline-block;
}

.gameImages {
    margin-bottom: -2%;
}


/* .editImage {
    justify-content: center;
} */